.creationCharacter-container {
    width: 100vw;
    height: 100vh;
    color: $primaryColor;

    h1{
        margin-top: 0;
        margin-bottom: 65px;
        padding-top: 25px;
        text-align: center;
        font-size: 2.3rem;
    }

    .create-block {
        width: 90%;
        margin: 0 auto;
        display: flex;

        .create-left {
            width: 25%;

            .charactersList{
                @include flex(normal, center);
                flex-direction: column;

                .characterlist-border {
                    display: flex;
                    justify-content: normal;
                    align-items: center;
                    flex-direction: column;
                    @include gradientBorder(5px solid black, $borderGradient);                    

                    .characterList-img {
                        width: 200px;
                        height: 192px;
                        cursor: pointer;
                        border-bottom: 5px solid black;
                        border-image: linear-gradient($borderGradient);
                        border-image-slice: 1;
                    };
                }
                
            }
        }

        .create-right {
            width: 75%;

            .races-description {
                border: 2px solid white;
                border-radius: 1%;
                width: 50%;
                height: 50%;
                overflow: overlay;
                margin: auto;
                padding: 25px;

                h2 {
                    text-align: center;
                    margin: 0;
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1.15rem;
                    line-height: 1.5rem;
                    font-weight: normal;
                    text-align: justify;
                }
            }

            .gender {
                width: 50%;
                margin: auto;
                text-align: center;
                padding: 25px;
                @include flex(center, center);

                .gender-btn {
                    margin: 0 5%;
                    padding: 25px;
                    border: 4px solid rgb(25, 25, 112);
                    background-color: #f2dcaa;
                    box-shadow: 3px 3px 3px rgba(25, 25, 112, 50%);
                    border-radius: 50%;
                    height: 70px;
                    width: 70px;
                    cursor: pointer;

                    .gender-img{
                        height: 75px;
                    }
                }

                .genderSelected {
                    border: 7px solid rgb(25,25,112);
                    filter: brightness(1.2);
                }
            }

            
            .submit-block {
                width: 50%;
                margin: auto;
                text-align: center;
                padding: 25px;
                display: flex;

                .hiddenValidate {
                    visibility: hidden;
                    opacity: 0;
                }

                div, button {
                    width: max-content;
                    margin: 0 auto;
                    padding: 20px 50px;
                    color: $primaryColor;
                    text-decoration: none;
                    background: linear-gradient(to right, #c33764, #1d2671);
                    cursor: pointer;
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 70%);
                    border: none;
                    transition: box-shadow .3s;

                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    #block-stats {
        .characterStats {
            .borderStat {
                border: 2px solid white;
                border-radius: 1%;
                background-color: #f2dcaaad;
                width: max-content;
                font-size: 1.1rem;
                color: black;
                font-weight: bold;

                h2 {
                    text-align: center;
                }

                table {
                    tr{
                        line-height: 35px;
                        .tableStat-name {
                            width: 150px;
                        }
                        .tableStat-manager {
                            #statDecrease, #statIncrease {
                                padding: 10px;
                            }
                            #statCurrent {
                                padding: 10px;
                            }
                        }
                    }
                    .remainingPoints {
                        text-align: center;
                    }
                }
            }
        }

        .character-name {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 50%;
            padding: 25px;

            label {
                text-align: center;
                font-size: 1.3rem;
                margin-bottom: 10;
            }

            input {
                border: none;
                width: 25%;
                min-width: 200px;
                height: 25px;
                margin: 0 auto;
                padding: 5px 10px;
            }
        }
    }
}