.disconnect-container {
    color: $white;
    width: 100%;
    margin-top: 25px;
    @include flex(space-around, center);

    .log {
        .log-form {
            color: $darkSkyBlue;
            @include background-img("../../../assets/backgrounds/login-background.png");
            width: 300px;
            padding-bottom: $formPadding;

            &:before {opacity: .5;}

            h1 {
                text-align: center;
                padding-top: 12px;
            }

            label {
                font-size: 1.3rem;
            }

            .form-block {
                width: 60%;
                margin: 0 auto;
            }

            .form_submit {
                margin: 0 auto;
                display: block;
            }

        }
    }
}

@media screen and (max-width: $dimension1000) {

    .disconnect-container {
        flex-direction: column-reverse;
        margin-top: 50px;

        .log {
            width: 100%;

            .log-form {
                width: 80%;
                margin: auto;
            }
        }
    }

}