.disconnect-container {
    color: $white;
    width: 100%;
    margin-top: 25px;
    @include flex(space-around, center);

    .disconnected-presentation {
        width: 25%;
        
        h2 { text-align: center; font-size: 2rem; }

        div{
            font-size: 1.3rem;
            line-height: 1.7rem;
            text-shadow: 7px 7px 7px black;
        }
    }

    .d-scoresList {
        background: rgba(242, 220, 170, .7);
        width: max-content;
        color: black;
        font-size: 1.4rem;

        table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;

            thead {
                font-size: 1.8rem;
                font-weight: bolder;
                height: 4rem;
            }

            th,td { 
                padding: 12px; 
                border-right: 1px solid black;

                &:last-child{
                    border: none;
                }
            }

            tbody {
                tr {
                    height: 3rem;
                    &:nth-child(n) {
                        background-color: #34e89e;
                    }
                    &:nth-child(2n){
                        background-color: #0f3443;
                        color: white;
                    }
                }
            }
        }
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                @include marginPadding(0 5px, 7px);
            }
        }
    }
}

@media screen and (max-width: $dimension1000) {

    .disconnect-container {
        flex-direction: column;
        margin-top: 50px;
        
        .disconnected-presentation { width: 70%;  margin-top: 50px; }
        
        .log {
            width: 70%;
            margin: 0 auto;

            .log-form, h1 {
                width: 70%;
                margin: 15px auto;
            }
        }

        .d-scoresList{
            width: 100%;
        }
    }
}

@media screen and (max-width: 750px) {

    .d-scoresList{
        width: 100%;
    }
}