.modal {
    @include opacityVisibility(hidden, 0);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(77, 77, 77, .7);
    @include flex(center, center);
    color: black;
    transition: .3s ease-out;

    .modal-content {
        background-color: #fff;
        padding: 1.5rem 2rem;
        width: 500px;
        max-width: 90%;
        border-radius: 5px;
        position: relative;
        border-left: 10px solid $darkSkyBlue;


        .modal-close {
            cursor: pointer;
            position: absolute;
            top: 10px; right: 10px;
            font-size: 1.5rem;
            text-decoration: none;
        }
    }

    &:target { @include opacityVisibility(visible, 1); }
}