{% extends 'disconnectedBase.html.twig' %}

{% block title %}
	{% trans %}Découverte{% endtrans %}
{% endblock %}

{% block body %}
	<div class="disconnect-container">
        <h1>{% trans %}A venir{% endtrans %}</h1>
	</div>
{% endblock %}

