{% extends 'disconnectedBase.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="disconnect-container">
        <div>
            {% include "parts/login.html.twig" %}

            <div></div>
        </div>

        <div>
            ICI UNE PETIT PHRASE DE PRESENTATION
        </div>
    </div>
{% endblock %}
