{% extends 'disconnectedBase.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block body %}
    {% from "macros/modal.html.twig" import modalBuilder %}
    <div class="disconnect-container">
        <div class="log">
            {% include "parts/login.html.twig" %}
        </div>

        <div class="disconnected-presentation">
            {% if presentation[0].title %}
                <h2>{{presentation[0].title}}</h2>
            {% endif %}

            {% if params._locale == "fr" %}
                {{presentation[0].descriptionFr|raw}}
            {% else %}
                {{presentation[0].descriptionEn|raw}}
            {% endif %}
        </div>


        {# {% set idModal = "Inscription"|trans  %}
        {% set titleModal = "Inscription"|trans  %}
        {% set contentModal = form(registrationForm) ~ "<div class='rememberLog'><a href="~ path("disconnected_home") ~">" ~ "Déjà un compte ?"|trans ~ "</a></div>" %}  
        {{ modalBuilder(idModal, titleModal, contentModal) }} #}


    </div>
{% endblock %}
