{% extends 'disconnectedBase.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block body %}
    {% from "macros/modal.html.twig" import modalBuilder %}
    <div class="disconnect-container">
        <div class="log">
            {% include "parts/login.html.twig" %}
        </div>

        <div class="disconnected-presentation">
            <p>
                {% trans %}
                    De nombreuses batailles sont livrées chaque jour. Les vainqueurs en tire gloire et pouvoir.
                {% endtrans %}
                <br>
                {% trans %}
                    Un artefact a été crée dans un des univers afin de pouvoir voyager à travers le multivers. Depuis, les batailles se sont intesifiées, les combattants se sont renforcés.
                    Rejoins ces batailes, reforce toi et deviens le meilleur combattant du multivers.
                {% endtrans %}
                    
            </p>
        </div>

        {# {% set idModal = "Inscription"|trans  %}
        {% set titleModal = "Inscription"|trans  %}
        {% set contentModal = form(registrationForm) ~ "<div class='rememberLog'><a href="~ path("disconnected_home") ~">" ~ "Déjà un compte ?"|trans ~ "</a></div>" %}  
        {{ modalBuilder(idModal, titleModal, contentModal) }} #}


    </div>
{% endblock %}
