{% extends 'disconnectedBase.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="disconnect-container">
        <div class="log">
            {% include "parts/login.html.twig" %}
        </div>

        <div class="disconnected-presentation">
            ICI UNE PETIT PHRASE DE PRESENTATION
        </div>


    </div>
{% endblock %}
