{% extends 'disconnectedBase.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="disconnect-container">
        <div>
            ICI LE BLOCK POUR SE CONNECTER
        </div>

        <div>
            ICI UNE PETIT PHRASE DE PRESENTATION
        </div>
    </div>
{% endblock %}
