{% extends 'gameBase.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Page qui ne sert qu'à tester le cas ou l'utilisateur possède un personnage</h1>
{% endblock %}
