<header class="disconnectedHeader">
    <a href="" class="disconnectedHeader-link">{% trans %}Découverte{% endtrans %}</a>
    <a href="" class="disconnectedHeader-link">{% trans %}Jouer{% endtrans %}</s></a>
    <a href="" class="disconnectedHeader-link">{% trans %}Scores{% endtrans %}</a>
</header>