.registerFormInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: $formPadding;
    margin-bottom: 10px;

    &:focus { outline: none; }
}

.modalFormInput {
    @include modalFormInput();
}

.rememberLog {
    margin: 16px 0;
    text-align: center;
    font-size: 14px;

    a {
        text-decoration: none;
        color: $darkSkyBlue;

        &:hover { text-decoration: underline; }
    }
}

.form-block {
    .log-form { width: 100%; }
    input, label {
        width: 100%;
    }
}

.formTitle-mb { margin-bottom: 25px; }

.log-form {
    color: $darkSkyBlue;
    @include background-img("../../../assets/backgrounds/login-background.png");
    width: 300px;
    padding-bottom: $formPadding;
    border-radius: 7px;

    &:before { opacity: .5; }

    h1 { text-align: center; padding-top: 12px; }

    label { font-size: 1.3rem; }

    .form-block { width: 70%; margin: 0 auto; }

    .form_submit { margin: 0 auto; display: block; }

}