body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.background {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/backgrounds/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #464646; }

.display-none {
  display: none !important; }

.brightness {
  filter: brightness(1.2); }

.logBtn {
  background-color: transparent;
  color: #03224c;
  width: 60%;
  font-size: 1.2rem;
  padding: 6px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  transition: .3s; }
  .logBtn:hover {
    box-shadow: none; }

.logBtn-mt {
  margin-top: 10px; }

.registerFormInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 10px; }
  .registerFormInput:focus {
    outline: none; }

.modalFormInput {
  display: block;
  width: 50%; }

.rememberLog {
  margin: 16px 0;
  text-align: center;
  font-size: 14px; }
  .rememberLog a {
    text-decoration: none;
    color: #03224c; }
    .rememberLog a:hover {
      text-decoration: underline; }

.form-block .log-form {
  width: 100%; }
.form-block input, .form-block label {
  width: 100%; }

.formTitle-mb {
  margin-bottom: 25px; }

.log-form {
  color: #03224c;
  background-image: url("../../../assets/backgrounds/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  padding-bottom: 10px;
  border-radius: 7px; }
  .log-form:before {
    opacity: .5; }
  .log-form h1 {
    text-align: center;
    padding-top: 12px; }
  .log-form label {
    font-size: 1.3rem; }
  .log-form .form-block {
    width: 70%;
    margin: 0 auto; }
  .log-form .form_submit {
    margin: 0 auto;
    display: block; }

.disconnectedHeader {
  color: #f2dcaa;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .disconnectedHeader .disconnectedHeader-link {
    color: #f2dcaa;
    margin: 0px;
    padding: 25px;
    text-transform: uppercase;
    font-size: 2rem; }
  .disconnectedHeader .playLink {
    font-size: 3rem; }

.disconnect-container {
  color: white;
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .disconnect-container .disconnected-presentation {
    width: 25%; }
    .disconnect-container .disconnected-presentation h2 {
      text-align: center;
      font-size: 2rem; }
    .disconnect-container .disconnected-presentation div {
      font-size: 1.3rem;
      line-height: 1.7rem;
      text-shadow: 7px 7px 7px black; }

@media screen and (max-width: 1000px) {
  .disconnect-container {
    flex-direction: column;
    margin-top: 50px; }
    .disconnect-container .disconnected-presentation {
      width: 70%;
      margin-top: 50px; }
    .disconnect-container .log {
      width: 70%;
      margin: 0 auto; }
      .disconnect-container .log .log-form, .disconnect-container .log h1 {
        width: 70%;
        margin: 15px auto; } }
.langList {
  text-align: center; }
  .langList li {
    position: relative; }
  .langList img {
    width: 30px; }
  .langList ul {
    margin: 0;
    padding: 0; }
    .langList ul li {
      background-color: rgba(0, 0, 0, 0.7);
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid white; }
      .langList ul li:last-child {
        border-bottom: none; }
  .langList .lang-menu {
    display: none;
    position: absolute;
    width: 50px; }
  .langList:hover .lang-menu {
    display: block; }

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(77, 77, 77, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: .3s ease-out; }
  .modal .modal-content {
    background-color: #fff;
    padding: 1.5rem 2rem;
    width: 500px;
    max-width: 90%;
    border-radius: 5px;
    position: relative;
    border-left: 10px solid #03224c; }
    .modal .modal-content .modal-close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      text-decoration: none; }
  .modal:target {
    visibility: visible;
    opacity: 1; }

.creationCharacter-container {
  width: 100vw;
  height: 100vh;
  color: #f2dcaa; }
  .creationCharacter-container h1 {
    margin-top: 0;
    margin-bottom: 65px;
    padding-top: 25px;
    text-align: center;
    font-size: 2.3rem; }
  .creationCharacter-container .create-block {
    width: 90%;
    margin: 0 auto;
    display: flex; }
    .creationCharacter-container .create-block .create-left {
      width: 25%; }
      .creationCharacter-container .create-block .create-left .charactersList {
        display: flex;
        justify-content: normal;
        align-items: center;
        flex-direction: column; }
        .creationCharacter-container .create-block .create-left .charactersList .characterlist-border {
          display: flex;
          justify-content: normal;
          align-items: center;
          flex-direction: column;
          border: 5px solid black;
          border-image: linear-gradient(to right, #34e89e, #0f3443);
          border-image-slice: 1; }
          .creationCharacter-container .create-block .create-left .charactersList .characterlist-border .characterList-img {
            width: 200px;
            height: 192px;
            cursor: pointer;
            border-bottom: 5px solid black;
            border-image: linear-gradient(to right, #34e89e, #0f3443);
            border-image-slice: 1; }
            .creationCharacter-container .create-block .create-left .charactersList .characterlist-border .characterList-img:last-child {
              border-bottom: none; }
    .creationCharacter-container .create-block .create-right {
      width: 75%; }
      .creationCharacter-container .create-block .create-right .races-description {
        border: 2px solid white;
        border-radius: 1%;
        width: 50%;
        height: 50%;
        overflow: overlay;
        margin: auto;
        padding: 25px; }
        .creationCharacter-container .create-block .create-right .races-description h2 {
          text-align: center;
          margin: 0;
          font-size: 1.8rem; }
        .creationCharacter-container .create-block .create-right .races-description p {
          font-size: 1.15rem;
          line-height: 1.5rem;
          font-weight: normal;
          text-align: justify; }
      .creationCharacter-container .create-block .create-right .gender {
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .creationCharacter-container .create-block .create-right .gender .gender-btn {
          margin: 0 5%;
          padding: 25px;
          border: 4px solid midnightblue;
          background-color: #f2dcaa;
          box-shadow: 3px 3px 3px rgba(25, 25, 112, 0.5);
          border-radius: 50%;
          height: 70px;
          width: 70px;
          cursor: pointer; }
          .creationCharacter-container .create-block .create-right .gender .gender-btn .gender-img {
            height: 75px; }
        .creationCharacter-container .create-block .create-right .gender .genderSelected {
          border: 7px solid midnightblue;
          filter: brightness(1.2); }
      .creationCharacter-container .create-block .create-right .submit-block {
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 25px;
        display: flex; }
        .creationCharacter-container .create-block .create-right .submit-block .hiddenValidate {
          visibility: hidden;
          opacity: 0; }
        .creationCharacter-container .create-block .create-right .submit-block div, .creationCharacter-container .create-block .create-right .submit-block button {
          width: max-content;
          margin: 0 auto;
          padding: 20px 50px;
          color: #f2dcaa;
          text-decoration: none;
          background: linear-gradient(to right, #c33764, #1d2671);
          cursor: pointer;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
          border: none;
          transition: box-shadow .3s; }
          .creationCharacter-container .create-block .create-right .submit-block div:hover, .creationCharacter-container .create-block .create-right .submit-block button:hover {
            box-shadow: none; }
  .creationCharacter-container #block-stats .characterStats .borderStat {
    border: 5px solid black;
    border-image: linear-gradient(to right, #34e89e, #0f3443);
    border-image-slice: 1;
    border-radius: 1%;
    background-color: #f2dcaaad;
    width: max-content;
    font-size: 1.1rem;
    color: black;
    font-weight: bold; }
    .creationCharacter-container #block-stats .characterStats .borderStat h2 {
      text-align: center; }
    .creationCharacter-container #block-stats .characterStats .borderStat table tr {
      line-height: 35px; }
      .creationCharacter-container #block-stats .characterStats .borderStat table tr .tableStat-name {
        width: 150px; }
      .creationCharacter-container #block-stats .characterStats .borderStat table tr .tableStat-manager #statDecrease, .creationCharacter-container #block-stats .characterStats .borderStat table tr .tableStat-manager #statIncrease {
        padding: 10px; }
      .creationCharacter-container #block-stats .characterStats .borderStat table tr .tableStat-manager #statCurrent {
        padding: 10px; }
    .creationCharacter-container #block-stats .characterStats .borderStat table .remainingPoints {
      text-align: center; }
  .creationCharacter-container #block-stats .character-name {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px;
    width: 50%; }
    .creationCharacter-container #block-stats .character-name label {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 10; }
    .creationCharacter-container #block-stats .character-name input {
      border: none;
      width: 25%;
      min-width: 200px;
      height: 25px;
      margin: 0 auto;
      padding: 5px 10px; }

/*# sourceMappingURL=style.css.map */
