body {
    @include marginPadding(0, 0);
    width: 100%; height: 100vh;
}

.background {
    width: 100%; height: 100%;
    background-image: url("../../assets/backgrounds/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #464646;
}