body {
    @include marginPadding(0, 0);
    width: 100%; height: 100vh;
}

.background {
    width: 100%; height: 100%;
    background-image: url("../../assets/backgrounds/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #464646;
}


.form-block {
    .log-form {
        width: 100%;
    }
    input, label {
        width: 100%;
    }
}

.rememberLog {
    margin: 16px 0;
    text-align: center;
    font-size: 14px;

    a {
        text-decoration: none;
        color: $darkSkyBlue;

        &:hover {
            text-decoration: underline;
        }
    }
}