// Only we need the all this values
@mixin flex ($justifyContent, $alignItems) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// Only use when we nedd this 2 values, if we don't have another function/mixin that can be use
@mixin marginPadding($margin, $padding){
    margin: $margin;
    padding: $padding;
}

// Base css rules for background images
@mixin background-img($url, $bgSize:cover, $bgRepeat:no-repeat) {
    background-image: url($url);
    background-repeat: $bgRepeat;
    background-size: $bgSize;
}

// Mixin that prepare the form to be used in a modal
@mixin modalFormInput($width:50%, $display:block) {
    display: $display;
    width: $width;
}