// text color

$white : white;
$primaryColor: rgb(242,220,170);
$darkSkyBlue: #03224c;


// grandient

$borderGradient: to right, #c33764, #1d2671;



// font size

$menuFontSize : 30px;



// padding and margin

$formPadding : 10px;



// responsive dimension

$dimension1000 : 1000px;