// text color

$white : white;
$primaryColor: rgb(242,220,170);
$darkSkyBlue: #03224c;



// font size

$menuFontSize : 30px;



// padding and margin

$formPadding : 10px;



// responsive dimension

$dimension1000 : 1000px;